
.questions__ {
    padding: 1.5rem;
    border-radius: 0.5rem;
    // border: 0.063rem dashed var(--gray__light);
    background-color: var(--white__dark);
    box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.05);

    & + .questions__ {
        margin-top: 0.5rem;
    }

    p {
        color: var(--black__light);
    }

    footer {
        margin-top: 1.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .user__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            > img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 0.125rem solid var(--pink__light);
            }

            span {
                margin-left: 0.7rem;

                font-size: 0.875rem;
                color: var(--black__light)
            }
        }
    }

}